.linkedInLinkBtn{
    background-color: white;
    border-color:#fffafa;
    border-radius: 50%;
    
}
.gitHubLinkBtn{
    background-color: white;
    border-color:#fffafa;
    border-radius: 50%;
    
}