.HomePage{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 9vh 5vh 10vh 15vh 5vh 25vh 25vh 5vh
}
.homeNavBarDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
}
.homeBannerDiv{
    background-image: url("../../images/home/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: span 4;
    width: 100%;
    position: relative;
    right: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-wrap: wrap;
}
.homeTitleDiv{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 3vw;
}
.homeName{
    font-size: x-large;
}
.bannerSummary{
    position: relative;
    top: 1vh;
}
.homeSkillsDiv{
    display: flex;
    flex-direction: row
}
.skillsTitle{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
    left: 17vw;
    top: 3vh;
}
.frontEnd{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    position: relative;
    top: 10vh;
    left: 6vw;
}
.backEnd{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    position: relative;
    top: 10vh;
    left:6vw;
}
.homeCenterDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
}
.starImage{
    position: relative;
    top: 10vh;
    left:23vw;
}
.heartImage{
    position: relative;
    top: 10vh;
    left:41vw;
}
.eyeImage{
    position: relative;
    top: 12vh;
    left:57vw;
}
.starList{
    position: relative;
    top: 10vh;
    left:21vw;
    text-align: center
}
.heartList{
    position: relative;
    top: 10vh;
    left:39vw;
}
.eyeList{
    position: relative;
    top: 12vh;
    left:55vw;
}
.starTitle{
    position: relative;
    top: 10vh;
    left:22vw;
    text-align: center
}
.heartTitle{
    position: relative;
    top: 10vh;
    left:41.5vw;
}
.eyeTitle{
    position: relative;
    top: 12vh;
    left:57.5vw;
}
.homePortfolioImage{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    position: relative;
    top: 34vh;
}
.homePortfolioLink{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 6; 
    position: relative;
    bottom: 5vh;
    left: 55vw;
    font-size: x-large;
    width: 700px;
}
.homeContactLink{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
    font-size: x-large;
    width: 700px;
    position: relative;
    top:105vh;
    right: 15vw;
}
.homeContactImage{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7; 
    position: relative;
    top: 59.5vh;
    left: 33.5vw;
    
}
.homeFooterDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 8;
    position: relative;
    top: 93.5vh;
    /* left:33.5vw; */
    width: 100%;
}