.HomePage{
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 9vh 15vh 10vh 15vh 15vh 25vh 25vh 5vh
}
.homeNavBarDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
}
.homeBannerDiv{
    background-image: url("../../images/home/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: span 4;
    width: 100%;
    position: relative;
    right: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-wrap: wrap;
    height: 35vh;
}
.homeTitleDiv{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-left: 3vw;
}
.homeName{
    font-size: x-large;
}
.bannerSummary{
    position: relative;
    top: 1vh;
}
.skillsSide{
    display: flex;
    flex-direction: column;  
}
.skillsTitle{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
    order: 0;
    align-items: center;
    text-align: center;
    margin-left: 10vw;
}
.homeSkillsDiv{
    display: flex;
    flex-direction: row;
}

.frontEnd{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    align-items: center;
    margin-left: 10vw;
}
.backEnd{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4;
    align-items: center;
    align-self: auto;
    margin-left: 5vw;
}
.homeCenterDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
}
.starImage{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    position: relative;
    top: 10vh;
    left:23vw;
}
.heartImage{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    position: relative;
    top: 10vh;
    left:41vw;
}
.eyeImage{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    position: relative;
    top: 12vh;
    left:57vw;
}
.starList{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
    position: relative;
    top: 10vh;
    left:21vw;
    text-align: center
}
.heartList{
    position: relative;
    top: 10vh;
    left:39vw;
}
.eyeList{
    position: relative;
    top: 12vh;
    left:55vw;
}
.starTitle{
    position: relative;
    top: 10vh;
    left:22vw;
    text-align: center
}
.heartTitle{
    position: relative;
    top: 10vh;
    left:41.5vw;
}
.eyeTitle{
    position: relative;
    top: 12vh;
    left:57.5vw;
}
.homePortfolioImage{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    position: relative;
    top: 14vh;
    /* width: 680px; */
}
.homePortfolioLink{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 6; 
    position: relative;
    bottom: 35vh;
    left: 55vw;
    font-size: x-large;
    width: 700px;
    
}
.homeContactLink{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
    font-size: x-large;
    width: 700px;
    position: relative;
    top:90vh;
    right: 45vw;
}
.homeContactImage{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 7; 
    position: relative;
    top: 43.5vh;
    /* right: 3.5vw; */
    /* width: 680px; */
    
}
.homeFooterDiv{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 8;
    position: relative;
    top: 43vh;
    /* left:33.5vw; */
    /* width: 100%; */
 }  