.footer{
    display: grid;
    grid-template-columns: 33% 33% 20% 13%;
    grid-template-rows: 5vh;
    border-top: gray;
    border-top-style: ridge;
    width: 100%;
}
.footerCenter{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; 
}
.footerName{
    position: relative;
    left: 48vw;
}
.footerCopyright{
    position: relative;
    left: 48vw;
    bottom: 1vh;
}
.FooterSearchField{
    position: relative;
    top: 1.15vh;
    left: 26vw;
}
.footerSearchBtn{
    float: right;
    position: relative;
    left: 31.5vw;
}
