.navBarDiv {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 60% 5% 5% 5%;
    grid-template-rows: 100%;
    height: 25vh;
}
.navBarLogoDiv{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.navBarHomeLink{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
.navBarAboutLink{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
.navBarPortfolioLink{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
.navBarContactLink{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
.navBarLinkedInLink{
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
.navBarGitHubLink{
    grid-column-start: 9;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding-top: 5vh;
}
